{% extends "base.html" %}

{% block title %}
Изменить почту
{% endblock %}

{% block content %}
    <h1>Изменить почту</h1>
    <form method="post" action="{{ url_for('change_email') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}